.list-item {
    display: flex;
    font-size: 10px;
    margin: 0 25px 0;
    padding: 0 10px;
    background: #b1b4b5;
}


.list-item__title {
    margin: 0;
}

.poster {
    padding: 0 15px;
}

.poster__img {
    width: 10px;
    height: auto;
}

.list-item__content {
    display: flex;
    flex-direction: column;
    text-align: left;
}
