.list-item {
    display: flex;
    margin: 10px 25px 0;
    padding: 10px;
    background: #b1b4b5;
}

.poster {
    padding: 0 15px;
}

.poster__img {
    width: 100px;
    height: auto;
}

.list-item__content {
    display: flex;
    flex-direction: column;
    text-align: left;
}
